<div id="map"></div>
<script>
  var map;
  function initialize() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 0, lng: 0},
      zoom: 0,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });
    setCustomMap();
    map.data.setStyle(function(feature) {
      return {
        title: feature.getProperty('name'),
        optimized: false
      };
    });
    setUserPoint(0,0);
  }

  var userPoint = {
    type: 'FeatureCollection',
    features: [{
      type: 'Feature',
      geometry: {type: 'Point', coordinates: [0, 0]},
      properties: {name: 'user'}
    }]
  }

  function setUserPoint(lon, lat){
    var myLatlng = new google.maps.LatLng(lon,lat);
    var marker = new google.maps.Marker({
      position: myLatlng,
      icon: '/images/user01.png',
    });
    marker.setMap(map);
  }

  var gallPetersMapType;
  function setCustomMap() {
    var OKINAWA_MAP_RANGE_X = 8000;
    var OKINAWA_MAP_RANGE_Y = 8000;

    // Fetch Gall-Peters tiles stored locally on our server.
    gallPetersMapType = new google.maps.ImageMapType({
      getTileUrl: function(coord, zoom) {
        var scale = 1 << zoom;
        return '/images/okinawamap1.png';
      },
      tileSize: new google.maps.Size(OKINAWA_MAP_RANGE_X, OKINAWA_MAP_RANGE_Y),
      isPng: true,
      minZoom: 0,
      maxZoom: 3,
      name: 'okinawamap'
    });

    gallPetersMapType.projection = {
      fromLatLngToPoint: function(latLng) {
        var latRadians = latLng.lat() * Math.PI / 180;
        return new google.maps.Point(
          OKINAWA_MAP_RANGE_X * (0.5 + latLng.lng() / 360),
          OKINAWA_MAP_RANGE_Y * (0.5 - 0.5 * Math.sin(latRadians)));
      },
      fromPointToLatLng: function(point, noWrap) {
        var x = point.x / OKINAWA_MAP_RANGE_X;
        var y = Math.max(0, Math.min(1, point.y / OKINAWA_MAP_RANGE_Y));

        return new google.maps.LatLng(
            Math.asin(1 - 2 * y) * 180 / Math.PI,
            -180 + 360 * x,
            noWrap);
      }
    };
    map.mapTypes.set('gallPeters', gallPetersMapType);
    map.setMapTypeId('gallPeters');
  }
</script>
<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAanZmO6xhS_PF7sYsh186ZyYZIZQ7YzEw&callback=initialize" async defer></script>
